.form {
    
    text-align: center;
    padding-top: 164px;
    height: 600px;
    color: antiquewhite;
    background-color: black;
    background-image: url("../../../assets/01740046.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.form__label1{
    padding-right: 30px;
}
.form__label2{
    padding-right: 5px;
}

