.form {
    text-align: center;
    padding-top: 100px;
    height: 600px;
    color: antiquewhite;
    background-color: black;
  
}
.form__label1{
    padding-right: 30px;
}
.form__label2{
    padding-right: 5px;
}

