.profile__div{
    background-color: rgba(0, 0, 0, 0.911);
    height: 500px;
    text-align: center;
}
.profile__div_p{
    color: white;
    text-align: center;
    padding-top: 10%;
}
.profile__div_img{
    width: 40%;
    padding-top: 20px;
    text-align: center;
}